<div class="text-center">
  <% if @possible_match.nil? %>
    <h4>You have no pending matches at this time.</h4>
  <% else %>
    <%= image_tag(@possible_match.image, class: "profile-pic") %>
    <h4>Name: <%= @possible_match.name %></h4>
    <h4><%= link_to "My Github", @possible_match.github_account %></h4>
    <h4>My Languages: </h4>

    <% @possible_match.languages.each do |language| %>
      <div class="row">
        <p><%= language.name %></p>
      </div>
    <% end %>

    <h4>Description: <%= @possible_match.description %></p>
    <div class="btn-group">
        <%= form_for(:relationship, url: relationship_path(current_user.id), method: :delete) do |f| %>
        <%= f.hidden_field :match_id, value: @possible_match.id %>
        <%= f.submit "Reject Match", class: "btn btn-danger" %>
      <% end %>

      <%= form_for(:relationship, url: relationships_path, method: :post) do |f| %>
        <%= f.hidden_field :match_id, value: @possible_match.id %>
        <%= f.submit "Accept Match", class: "btn btn-info" %>
      <% end %>
    </div>

  <% end %>
</div>
