<h2>Choose all of your preferred languages</h2>
<%= form_for(:user, url: user_path, method: :put) do |f| %>
  <div class="row">
    <% @languages.each do |l| %>
      <div class="col-sm-3" id="checkboxes">
        <%= f.check_box l.id %> <%= l.name %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <h2>Share a little about yourself in 500 characters or less.</h2>
    <p><em>i.e. describe what you're looking for in a pair, what your coding interests are, etc.</em></p>
  </div>
  <%= f.text_area :description %>
  <p><%= f.submit "Submit", class: "btn btn-default" %></p>
<% end %>
